.page-title {
    margin-bottom: 30px;
}

.tag-0 {
  font-size: 26px;
}

.tag-1 {
  color: #5a5a5a;
  font-size: 24px;
}

.tag-2 {
  font-size: 22px;
}

.tag-3 {
  color: #5a5a5a;
  font-size: 20px;
}

.tag-4 {
  font-size: 18px;
}

.entry-overview {
  margin: 25px 150px 25px 150px;
}

.entry-overview .date {
  float: left;
  width: 120px;
  color: #CC0033;
  text-align: right;
  font-size: 14px;
}

.entry-overview .detail {
  margin-left: 140px;
}

.entry-overview h2 {
  margin: 0;
  font-size: 20px;
}

.entry-overview h2:after {
content: " —";
}

.entry-overview .summary, .entry-overview .date, .entry-overview .summary p {
  margin: 0;
  padding: 0;
}

.entry-overview h2, .entry-overview .summary, .entry-overview .summary p {
  display: inline;
  line-height: 0;
}

.entry-content {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.entry-content img {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.entry-content a {
  color: #5a5a5a;
  text-decoration: underline;
}

a {
  color: #333333;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

.container {
  width: 900px;
}

footer {
  margin-bottom: 20px;
}

.tagcloud {
  margin: 36px 0;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.tagcloud li {
  padding: 0 10px;
  display: inline;
}
